body {
  padding: 26px 0;
}
.click-mask {
  z-index: 900;
  position: absolute;
  top: 0;
  left: 0;
}
.click-mask.dark-mask {
  background-color: rgba(0, 0, 0, 0.7);
}
.not-supported-msg {
  display: none;
}
.loading-msg {
  display: none;
  width: 84px;
  height: 62px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  color: #666666;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -54px;
  /* (82+26)/2 */
  margin-left: -52px;
  /* 104/2 */
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}
.loading-msg p {
  margin: 10px 0 0 0;
}
.loading .loading-msg {
  display: block;
}
.highlight {
  background-color: #fcf8e3;
}
.soft-hide {
  visibility: hidden;
}
.badge-package {
  text-transform: uppercase;
  margin-right: 4px;
  font-size: 70%;
  position: relative;
  top: -1px;
}
.file-content-container .h2-container {
  padding: 3px;
}
.file-content-container .h2-container h2 {
  margin-left: 70px;
  margin-top: 0;
  line-height: 28px;
}
.search-box-container {
  text-align: center;
  z-index: 6;
  padding: 8px 0;
  margin-bottom: 0;
}
.search-box-container input {
  margin-bottom: 0;
}
.with-search-box {
  padding-top: 72px;
}
.well-with-list {
  padding: 8px 0;
  margin-bottom: 0;
}
.pinned-well {
  position: fixed;
  top: 26px;
  overflow: auto;
}
.nav .active .badge-package {
  background-color: white;
  color: #0088cc;
}
.top10-list {
  margin-left: 100px;
  margin-right: 100px;
}
.top10-list li {
  position: relative;
}
.top10-list li:hover .badge {
  visibility: visible;
}
.top10-list .key {
  margin-right: 6px;
  position: relative;
  top: -2px;
  z-index: 2;
}
.top10-list .badge {
  position: absolute;
  top: 8px;
  right: 12px;
  visibility: hidden;
}
.key-font {
  font-family: Consolas;
  font-size: 12px !important;
}
button .key-font {
  line-height: 10px;
  position: relative;
  top: -2px;
  left: -3px;
}
.files-list li {
  position: relative;
}
.files-list .label {
  position: absolute;
  top: 4px;
  right: 0;
  visibility: hidden;
}
.files-list .active .label {
  visibility: visible;
}
/* Pretty printing styles. Used with prettify.js. */

/* Vim sunburst theme by David Leibovic */

pre .str,
code .str {
  color: #65b042;
}
/* string  - green */

pre .kwd,
code .kwd {
  color: #e28964;
}
/* keyword - dark pink */

pre .com,
code .com {
  color: #aeaeae;
  font-style: italic;
}
/* comment - gray */

pre .typ,
code .typ {
  color: #89bdff;
}
/* type - light blue */

pre .lit,
code .lit {
  color: #3387cc;
}
/* literal - blue */

pre .pun,
code .pun {
  color: #666666;
}
/* punctuation - white */

pre .pln,
code .pln {
  color: #666666;
}
/* plaintext - white */

pre .tag,
code .tag {
  color: #89bdff;
}
/* html/xml tag    - light blue */

pre .atn,
code .atn {
  color: darkkhaki;
}
/* html/xml attribute name  - khaki */

pre .atv,
code .atv {
  color: #65b042;
}
/* html/xml attribute value - green */

pre .dec,
code .dec {
  color: #3387cc;
}
/* decimal - blue */

/*pre.prettyprint, code.prettyprint {
	background-color: #000;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
}

pre.prettyprint {
	width: 95%;
	margin: 1em auto;
	padding: 1em;
	white-space: pre-wrap;
}*/

/* Specify class=linenums on a pre to get line numbering */

ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #aeaeae;
}
/* IE indents via margin-left */

li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: none;
}
/* Alternate shading for lines */

@media print {
  pre .str,
  code .str {
    color: #006600;
  }
  pre .kwd,
  code .kwd {
    color: #000066;
    font-weight: bold;
  }
  pre .com,
  code .com {
    color: #660000;
    font-style: italic;
  }
  pre .typ,
  code .typ {
    color: #440044;
    font-weight: bold;
  }
  pre .lit,
  code .lit {
    color: #004444;
  }
  pre .pun,
  code .pun {
    color: #444400;
  }
  pre .pln,
  code .pln {
    color: black;
  }
  pre .tag,
  code .tag {
    color: #000066;
    font-weight: bold;
  }
  pre .atn,
  code .atn {
    color: #440044;
  }
  pre .atv,
  code .atv {
    color: #006600;
  }
}
