body {
  padding: 26px 0;
}
.click-mask {
  z-index: 900;
  position: absolute;
  top: 0;
  left: 0;
}
.click-mask.dark-mask {
  background-color: rgba(0, 0, 0, 0.7);
}
.not-supported-msg {
  display: none;
}
.loading-msg {
  display: none;
  width: 84px;
  height: 62px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  color: #666666;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -54px;
  /* (82+26)/2 */
  margin-left: -52px;
  /* 104/2 */
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}
.loading-msg p {
  margin: 10px 0 0 0;
}
.loading .loading-msg {
  display: block;
}
.highlight {
  background-color: #fcf8e3;
}
.soft-hide {
  visibility: hidden;
}
.badge-package {
  text-transform: uppercase;
  margin-right: 4px;
  font-size: 70%;
  position: relative;
  top: -1px;
}
.file-content-container .h2-container {
  padding: 3px;
}
.file-content-container .h2-container h2 {
  margin-left: 70px;
  margin-top: 0;
  line-height: 28px;
}
.search-box-container {
  text-align: center;
  z-index: 6;
  padding: 8px 0;
  margin-bottom: 0;
}
.search-box-container input {
  margin-bottom: 0;
}
.with-search-box {
  padding-top: 72px;
}
.well-with-list {
  padding: 8px 0;
  margin-bottom: 0;
}
.pinned-well {
  position: fixed;
  top: 26px;
  overflow: auto;
}
.nav .active .badge-package {
  background-color: white;
  color: #0088cc;
}
.top10-list-container {
  padding: 0 100px;
  position: relative;
}
.top10-list-container .tools {
  position: absolute;
  top: 6px;
  right: 100px;
  opacity: 0;
  -webkit-transition: opacity .5s;
  z-index: 1000;
}
.top10-list-container:hover .tools,
.top10-list-container.hover .tools {
  opacity: 1;
}
.top10-list li {
  position: relative;
}
.top10-list li:hover .badge {
  visibility: visible;
}
.top10-list .key {
  margin-right: 6px;
  position: relative;
  top: -2px;
  z-index: 2;
}
.top10-list .badge {
  position: absolute;
  top: 8px;
  right: 12px;
  visibility: hidden;
}
.key-font {
  font-family: Consolas;
  font-size: 12px !important;
}
button .key-font {
  line-height: 10px;
  position: relative;
  top: -2px;
  left: -3px;
}
.files-list li {
  position: relative;
}
.files-list .label {
  position: absolute;
  top: 4px;
  right: 0;
  visibility: hidden;
}
.files-list .active .label {
  visibility: visible;
}
